---
import AlternateLang from './AlternateLang.astro';
import ThemeScript from './ThemeScript.astro';
import Footer from '@components/Footer.astro';
import { prefixBase } from '@utils/global';
import { getLangFromUrl } from '@utils/i18n/utils';
import '@styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const currentLang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Antonin Ginet" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href=`${prefixBase}/favicon.svg` />
    <script src="https://kit.fontawesome.com/bc9b2458c3.js" crossorigin="anonymous"></script>
    <AlternateLang />
    <ThemeScript />
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <slot name="footer">
        <Footer />
      </slot>
    </footer>
  </body>
</html>
