---
import ContentCard from '@components/ContentCard.astro';
import FlexList from '@components/FlexList.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';
import { getCollection } from 'astro:content';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

const experiences = (await getCollection('experiences'))
  .map((experience) => experience.data)
  .toSorted((prev, next) => {
    if (prev.dateEnd === 'today') {
      if (next.dateEnd === 'today') {
        return prev.dateStart > next.dateStart ? -1 : 1;
      }
      return -1;
    } else {
      if (next.dateEnd === 'today') {
        return 1;
      }
      if (prev.dateEnd === next.dateEnd) {
        return prev.dateStart > next.dateStart ? -1 : 1;
      }
      return prev.dateEnd > next.dateEnd ? -1 : 1;
    }
  });
---

<FlexList>
  {
    experiences.map((experience, experienceIndex) => (
      <li class="apparition" style={`--apparition-delay: ${experienceIndex + 1}`}>
        <ContentCard
          img={experience.img}
          imgAlt={experience.imgAlt}
          title={experience.title}
          content={t(experience.contentTranslationKey)}
          subItems={experience.technologies}
        />
      </li>
    ))
  }
</FlexList>

<style>
  li {
    min-width: min(100%, 20rem);
    max-width: 26rem;
  }
</style>
