---
import Link from '@components/Link.astro';
import { prefixBase } from '@utils/global';
import { type TranslatedMessage } from '@utils/i18n/utils';
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
  img?: string;
  imgAlt?: string;
  title: TranslatedMessage;
  content: TranslatedMessage;
  subItems?: Array<{ icon: string; name: TranslatedMessage }>;
  links?: Array<{ icon: string; href: string }>;
}

const { class: className, img, imgAlt, title, content, subItems, links, ...rest } = Astro.props;
---

<article class={className} {...rest}>
  {img && imgAlt && <img src={`${prefixBase}/${img}`} alt={imgAlt} />}
  <h3>{title}</h3>
  <p>{content}</p>
  {
    (subItems || links) && (
      <div>
        {subItems && (
          <ul>
            {subItems.map(({ icon, name }) => (
              <li>
                <Icon name={icon} />
                <span>{name}</span>
              </li>
            ))}
          </ul>
        )}
        {links && (
          <ul>
            {links.map(({ icon, href }) => (
              <Link href={href} format="button">
                <Icon name={icon} />
              </Link>
            ))}
          </ul>
        )}
      </div>
    )
  }
</article>

<style>
  article {
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--c-secondary);
    display: flex;
    flex-direction: column;
  }

  article img {
    max-width: 3rem;
    border-radius: 50%;
  }

  article h3 {
    margin-block: 0.375rem;
    font-size: 1.5rem;
  }

  article p {
    font-size: 0.875rem;
  }

  article div {
    margin-top: auto;
  }

  article ul {
    margin-top: 1rem;
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
  }

  article li {
    font-size: 0.875rem;
    border-radius: 1rem;
    padding-inline: 0.625rem;
    background-color: var(--c-accent);
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
</style>
