---
import Icon from '@components/Icon.astro';
import Link from '@components/Link.astro';
import { prefixBase } from '@utils/global';
import { useTranslations, type LangParams, type TranslatedMessage } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

type Social = {
  href: string;
  icon: string;
  label: TranslatedMessage;
};

const socials: Social[] = [
  { href: 'https://www.linkedin.com/in/antonin-ginet', icon: 'fa-brands fa-linkedin', label: t('social.linkedin') },
  { href: 'https://github.com/Ryubi98', icon: 'fa-brands fa-github', label: t('social.github') },
  { href: 'https://gitlab.com/Ryubi98', icon: 'fa-brands fa-gitlab', label: t('social.gitlab') },
  { href: 'https://leetcode.com/Ryubi98', icon: 'fa-solid fa-terminal', label: t('social.leetcode') },
  {
    href: 'mailto:antonin.ginet98@gmail.com?subject=[PORTFOLIO]',
    icon: 'fa-solid fa-envelope',
    label: t('social.email'),
  },
  {
    href: `${prefixBase}/CV - Antonin Ginet - ${lang.toUpperCase()}.pdf`,
    icon: 'fa-solid fa-file',
    label: t('social.cv'),
  },
];
---

<ul>
  {
    socials.map((social) => (
      <li>
        <Link href={social.href} target="_blank" format="button">
          <Icon icon={social.icon} />
          {social.label}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
