---
import Link from '@components/Link.astro';
import { prefixBase } from '@utils/global';
import { useTranslations, type LangParams, type TranslatedMessage } from '@utils/i18n/utils';
import { Icon } from 'astro-icon/components';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

type Social = {
  href: string;
  icon: string;
  label: TranslatedMessage;
};

const socials: Social[] = [
  { href: 'https://www.linkedin.com/in/antonin-ginet', icon: 'simple-icons:linkedin', label: t('social.linkedin') },
  { href: 'https://github.com/Ryubi98', icon: 'simple-icons:github', label: t('social.github') },
  { href: 'https://gitlab.com/Ryubi98', icon: 'simple-icons:gitlab', label: t('social.gitlab') },
  { href: 'https://leetcode.com/Ryubi98', icon: 'simple-icons:leetcode', label: t('social.leetcode') },
  {
    href: 'mailto:antonin.ginet98@gmail.com?subject=[PORTFOLIO]',
    icon: 'mdi:email',
    label: t('social.email'),
  },
  {
    href: `${prefixBase}/CV - Antonin Ginet - ${lang.toUpperCase()}.pdf`,
    icon: 'mdi:file-document',
    label: t('social.cv'),
  },
];

interface Props {
  align?: 'left' | 'center' | 'right';
}

const { align = 'left' } = Astro.props as Props;
---

<ul class={align}>
  {
    socials.map((social) => (
      <li>
        <Link href={social.href} target="_blank" format="button">
          <Icon name={social.icon} />
          {social.label}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  ul.left {
    justify-content: flex-start;
  }

  ul.center {
    justify-content: center;
  }

  ul.right {
    justify-content: flex-end;
  }
</style>
