---
import '@styles/global.css';
import { prefixBase } from '@utils/global';
import { getLangFromUrl } from '@utils/i18n/utils';
import AlternateLang from '@components/head/AlternateLang.astro';
import ThemeScript from '@components/head/ThemeScript.astro';
import Header from '@components/header/Header.astro';
import Footer from '@components/footer/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const currentLang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Antonin Ginet" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href=`${prefixBase}/favicon.svg` />
    <AlternateLang />
    <ThemeScript />
  </head>
  <body>
    <slot name="header">
      <Header />
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
